#header{
	min-height: 10vh;
	width: 100%;
	background-color: black;
}


.list-inline{
	position: absolute;
	/*top: 30px;*/
	left: 1200px;
	font-size: 20px;
	color: white;
}


 ul {
	list-style: none; 
}



.nav a{
	font-size: 18px; 
	color: white;
}

.fa{
	color: white;
}

.header1{
	min-height: 20vh;
	width: 100%;
	background-color:#F6F6F6;
}

.card{
	height: 10vh;
	width: 7%;
	float: left;
	margin-left: 20px;
    position: relative;
	left: 200px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 12px;
    }


.alt{
	height: 9vh;
	width: 80%;
	}



.wrapper1{
	min-height: 95vh;
	width: 100%;
	background-color: rgb(9,93,103);
}

.heading{
	position: relative;
	top: 70px;
	color: white;

}
h1{
	font-size: 80px;
}

.button{
	min-height: 9vh;
	width: 15%;
	position: relative;
	left: 350px;
	top: 60px;
	background-color: black;
	color: white;
}

.button:hover{
	background-color: grey;

}

.bas{
	position: relative;
	top: 250px;
	left: -100px;
	width: 50%;
}


.container{
	min-height: 70vh;
}

h2{
	font-weight: bold;
}


.wrapper2{
	min-height: 75vh;
	background-color: #eee;
	font-weight: bold;
	height: 500px;
	background-color: #eee;

}


.left{
	width: 50%;
	float: left;
	position: relative;
	min-height: 75vh;
	position: relative;
	left: 35px;
	
}

.button1{
	min-height: 7vh;
	width: 28%;
	background-color: black;
	position: relative;
	top: 150px;
	left: -200px;
	color: white;
	
}


.right: {
	width: 50%;
	float: right;
	position: relative;
	min-height: 75vh;
	position: relative;
	right: : 45px;
	
}




.button2{
	min-height: 7vh;
	width: 28%;
	background-color: black;
	position: relative;
	/*top: 20px;*/
	right: : -200px;
	color: white;
}

.wrapper3{
	min-height: 95vh;
	background-color: #eee;
	font-weight: bold;
	height: 500px;
	background-color: white;

}


.le{
	width: 25%;
	float: left;
	position: relative;
	min-height: 85vh;
	position: relative;
	left: 10px;
	top: 55px;
	font-family: ;
}



.rightb {
	width: 75%;
	float: right;
	position: relative;
	min-height: 75vh;
	position: relative;
	right: : 25px;
	
}

.wrapper4{
	min-height: 95vh;
	background-color: white;
	font-weight: bold;
	height: 500px;
	background-color: white;

}


.be{
	width: 65%;
	float: left;
	position: relative;
	min-height: 80vh;
	position: relative;
	left:32px;
	/*top: 50px;*/

}

a{
	color: black;
}

.rightd {
	width: 35%;
	float: right;
	position: relative;
	min-height: 80vh;
	position: relative;
	right: 15px;
	/*top: 40px;*/
}




.wrapper5{
	min-height: 70vh;
	width: 100%;
	background-color: #eee;
	padding-bottom: 10px;

}


h4{
	font-weight: bold;
	font-size: 30px;
	color: black;
}

.btn-default{
	color: white;
	background-color: black;
}

.btn-default:hover{
	     background-color: grey;
	     color: white;
}


.wrapper6{
	background-image: url("../images/homepage_pressed_strawberry.png");
	height: 550px;
	background-size: cover;
	padding-top: 50px;
	text-align: center;
	

}


.lead h1{
   font-size: 40px;
   font-weight: bold;
   color: black;
}


.lead h6{
font-weight: bold;
}

.wrapper7{

	min-height: 45vh;
	background-color: #eee;
	padding-top: 50px;
}

.wrapper7 h2{
	font-size: 50px;
}


.wrapper8{
	min-height: 150vh;
	background-color: black;
}

.card1{
	min-height: 70vh;
	width: 25%;
	background-color: white;
	float: left;
	position: relative;
	bottom: 50px;
	left: 90px;
	margin-left: 20px;
}

.ser{
	min-height: 45vh;
	width: 100%;
}

span{
	font-weight: bold;
	font-size: 25px;
}

.btn-success{
	color: black;
	background-color: white;
	height: 40px;
	width: 140px;
	border: solid;
	font-size: 10px;
	border-radius: 0px;
}


.btn-success:hover{
	color: white;
	background-color: black;
	border: solid;
}


.sir{
	min-height: 45vh;
	width: 100%;
}

.sor{
	min-height: 45vh;
	width: 100%;
}
.card2{
	height:18px;
	width:20%;
	float: left;
	position: relative;
	top: 100px;
	margin-left:8px;
	color: white;
	margin-top:60px;
}


.card2 a{
	color: white;
}

.circle{
	border: solid;
	border-color: white;

}

ul{
	list-style: none;

}

.ere{
	position: relative;
	left:5px;
	margin-left: 5px;
}



.fa{
	position: relative;
	left: 800px;
	top: -70px;

}
.fa hover:{
	color: black;
	background-color: white;
	
}

.card3{
	padding-top: 65px;
}

.nav {
	top:130px;
	position: relative;
	left: 100px;
	font-size:10px;
	color: white;
}


 